.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

main {
  flex: 1;
  padding-bottom: 5rem;
}

li {
  display: inline-block;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

/* ------- form ------- */

label {
  display: inline-block;
  color: var(--gray-main);
}

.text-input {
  padding: 1.25rem 0;
  border-bottom: 1px solid var(--gray-middle);
}

.text-input:focus {
  border-color: var(--green-main);
}

.text-input-box {
  display: flex;
  flex: 1 1 0;
  width: 0;
  padding: 1.06rem 1rem;
  border: 1px solid var(--gray-middle);
  border-radius: var(--border-radius-xs);
}

.text-input-box:focus {
  border-color: var(--green-main);
}

.text-input-box.fail {
  border-color: var(--red-main);
}

/* ------------------ */

/* ----- button ----- */

/* l-button */

.l-button {
  padding: 1.19rem 0;
  background-color: var(--green-main);
  border-radius: var(--border-radius-xs);

  font-size: var(--font-size-xl);
  font-weight: 700;
  color: white;
}

.l-button:disabled {
  background-color: var(--gray-middle);
}

/* m-button */

.m-button {
  padding: 1.19rem 0;
  background-color: var(--green-main);
  border-radius: var(--border-radius-xs);

  font-size: var(--font-size-lg);
  font-weight: 700;
  color: white;
}

.m-button:disabled {
  background-color: var(--gray-middle);
}

.m-dark-button {
  padding: 1.19rem 0;
  background-color: var(--gray-main);
  border-radius: var(--border-radius-xs);

  font-size: var(--font-size-lg);
  font-weight: 700;
  color: white;
}

.m-white-button {
  padding: 1.19rem 0;
  background-color: white;
  border: 1px solid var(--gray-middle);
  border-radius: var(--border-radius-xs);

  font-size: var(--font-size-lg);
  font-weight: 700;
  color: var(--gray-main);
}

/* ms-button */

.ms-icon-button {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 0.6875rem 0;
  background-color: var(--green-main);
  border-radius: var(--border-radius-xs);

  font-size: var(--font-size-lg);
  font-weight: 500;
  color: white;
}

.ms-button {
  padding: 1.06rem 0;
  background-color: var(--green-main);
  border-radius: var(--border-radius-xs);

  font-weight: 500;
  color: white;
}

.ms-white-button {
  padding: 1.06rem 0;
  background-color: white;
  border: 1px solid var(--gray-middle);
  border-radius: var(--border-radius-xs);

  font-weight: 500;
  color: var(--gray-main);
}

.ms-white-button:hover {
  border-color: var(--gray-main);
  color: var(--black-main);
}

/* s-button */

.s-button {
  padding: 0.625rem 0;
  background-color: var(--green-main);
  border-radius: var(--border-radius-xs);

  font-weight: 500;
  color: white;
}

.s-white-button {
  padding: 0.625rem 0;
  background-color: white;
  border: 1px solid var(--gray-middle);
  border-radius: var(--border-radius-xs);

  font-weight: 500;
  color: var(--gray-main);
}

.s-white-button:hover {
  border-color: var(--gray-main);
  color: var(--black-main);
}

/* tab button */

.underline-tab-button {
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--gray-main);

  padding: 1.19rem 0 1.125rem 0;
  box-shadow: inset 0 -6px 0 var(--gray5);
}

.underline-tab-button[aria-selected="true"] {
  color: var(--green-main);
  box-shadow: inset 0 -6px 0 var(--green-main);
}

/* ------------------ */

/* ---- dropdown ---- */

.num-dropdown {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;

  width: 152px;
  max-height: 150px;
  background: white;
  border: 1px solid var(--gray-middle);
  border-radius: var(--border-radius-sm);

  display: none;
  overflow-y: scroll;
  z-index: 1000;
}

.num-dropdown > p {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.625rem 0;
  font-weight: 500;
}

.num-dropdown > p:hover {
  background-color: var(--gray5);
}

/* ------------------ */

/* ----- price ------ */

.s-price {
  font-size: var(--font-size-lg);
  font-weight: 700;
  margin-right: 4px;
}

.s-price.currency {
  font-size: var(--font-size-sm);
  font-weight: 400;
  color: var(--gray-main);
}

.m-price {
  font-size: var(--font-size-xl);
  font-weight: 700;
  margin-right: 2px;
}

.m-price.currency {
  font-size: var(--font-size-base);
  font-weight: 400;
}

.l-price {
  font-size: var(--font-size-xxl);
  font-weight: 700;
  margin-right: 2px;
}

.l-price.currency {
  font-size: var(--font-size-lg);
  font-weight: 400;
}

.price-group {
  font-size: var(--font-size-base);
  font-weight: 400;
}

.price-group.price {
  font-size: var(--font-size-xl);
  font-weight: 700;
}

/* ------------------ */
