:root {
  /* color */
  --green-main: #21bf48;

  --black-light: #333333;
  --black-main: #000000;

  --gray-light: #f2f2f2;
  --gray-light-middle: #e0e0e0;
  --gray-middle: #c4c4c4;
  --gray-main: #767676;

  --red-main: #eb5757;

  /* font */
  --font-family: "Spoqa Han Sans Neo", sans-serif;

  /* font-size */
  /* 12 14 16 18 24 36 72*/
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2.25rem;
  --font-size-big: 4.5rem;

  /* space */
  --lr-margin: 16px;

  /* border-radius */
  --border-radius-xs: 5px;
  --border-radius-sm: 10px;
  --border-radius-lg: 50px;

  /* shadow */
  --shadow: 0px 4px 5px 0px #0000001a;
}
