/* main */

.login-container {
  position: relative;
  width: 100%;
}

.login-form {
  gap: 6px;
}

.login-form button {
  margin-top: 30px;
}

#login-guide {
  color: var(--red-main);
}

.link-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.875rem;

  color: var(--black-light);
}
